@import "../../styles/constants"

.intro
  @include font-style
  max-width: 1017px
  margin: 0 auto

  @media screen and (max-width: $breakpoint-medium)
    max-width: 720px

.intro__title

  padding-top: 92px

  font-weight: 900
  font-size: 54px
  line-height: 58px

  @media screen and (max-width: $breakpoint-medium)
    padding-top: 55px

  @media screen and (max-width: $breakpoint-small)
    padding-top: 55px

    font-weight: 900
    font-size: 32px
    line-height: 35px

    //max-width: 288px


.intro__quote

  // position: relative

  max-width: 722px
  // height: 136px

  font-weight: 400
  font-size: 24px
  line-height: 34px

  padding-top: 40px

  @media screen and (max-width: $breakpoint-medium)
    padding-top: 15px

  @media screen and (max-width: $breakpoint-small)
    padding-top: 9px
    max-width: 288px


.intro__name
  @include clean

  font-weight: 400
  font-size: 24px
  line-height: 34px

  display: block

  position: relative

  bottom: 20px
  text-align: right

  @media screen and (max-width: $breakpoint-small)
    position: static


.intro__description

  max-width: 720px

  font-weight: 400
  font-size: 16px
  line-height: 163%

  padding-top: 42px

  @media screen and (max-width: $breakpoint-small)
    padding-top: 0
    max-width: 288px
