@import "../../styles/constants"

.cover

  @include font-style

  display: flex
  flex-direction: column
  justify-content: start
  align-items: center

  margin-top: 92px
  margin-left: auto
  margin-right: auto

  max-width: 1184px
  height: 740px

  //background-image: url("../images/cover.png")
  //background-size: cover
  //opacity: .70

.cover__image
  position: absolute
  width: 1184px
  height: 740px

  z-index: -1

  opacity: .7

.cover__button-text

  @include font-style

  font-weight: 600
  font-size: 18px
  line-height: 22px

  z-index: 2

.cover__title

  //width: 656px
  //height: 76px

  padding-top: 243px

  font-weight: 900
  font-size: 72px
  line-height: 76px

.cover__text
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  padding-top: 32px

  font-weight: 400
  font-size: 18px
  line-height: 22px

.cover__button

  margin-top: 32px

  background-color: #0278FE

  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

  width: 198px
  height: 48px

  border-radius: 4px


.cover__link
  //css for remove hyperlink styles
  text-decoration: none
