.photos

  padding-top: 92px
  padding-bottom: 92px

  margin: 0 auto

  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: repeat(2, 1fr)

  grid-gap: 16px

  width: 1184px
  height: 442px

.photos__photo
  width: 284px
  height: 213px
